:root {
  // accent
  --primary-color-100: #bea6ff;
  --primary-color-300: #a280ff;
  --primary-color-500: #8c61ff;
  --primary-color-700: #704ecc;
  --primary-color-900: #382766;

  // danger
  --danger-color-300: #f23d61;

  // warning
  --warning-color-300: #e5ac39;

  // info
  --info-color-500: #397df6;
  --info-color-700: #2f68cc;
  --info-color-900: #234e99;

  // Colors for storybook
  // light
  --light-color-100: #fff;
  --light-color-300: #f9f7ff;
  --light-color-500: #f4f2fa;
  --light-color-700: #dcdae0;
  --light-color-900: #c3c1c7;

  // dark
  --dark-color-100: #000000;
  --dark-color-300: #4c4c4c;
  --dark-color-500: #333;
  --dark-color-700: #171717;
  --dark-color-900: #f7f5f5;
}
