@import 'src/app/styles/mixins';

.wrapper {
  width: 100%;

  .label {
    color: #808080FF;
  }

  .inputWrapper {
    position: relative;

    width: 100%;

    color: #808080FF;
    fill: #808080FF;

    .showPasswordButton {
      position: absolute;
      top: 6px;
      right: 6px;

      cursor: pointer;

      border: none;
      outline: none;

      background: transparent;
    }

    .errorMessage {
      position: absolute;
      bottom: -18px;
      left: 0;
      text-align: left;

      color: #F23D61FF;

      font-size: 10px;
    }
  }

  .input {
    width: 100%;
    padding: 0.5rem 0.75rem;

    transition: all 0.3s ease-in-out;

    border: 1px solid black;
    border-radius: 2px;
    outline: none;

    background: transparent;

    &:focus {
      color: black;
      border-color: black;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;

      -webkit-text-fill-color: black !important;
    }

    &:active:not(:disabled, .error) {
      color: black;
      border-color: black;
    }

    &:hover:not(:disabled, :focus, .error) {
      border-color: #d9d9d9;
      background: #d9d9d9;
    }

    &.password {
      padding-right: 40px;
    }

    &.error {
      color: #F23D61FF;
      border-color: #F23D61FF;

      &:focus {
        outline: 1px solid #3d43f2;
      }
    }

    @include flex(row, center, center);
  }

  @include flex(column, center, flex-start);
}

.disabled {
  color: #868686;
  border-color: #868686;
}
