//@import 'src/app/styles/mixins';
//
//.wrapper {
//  @include flex(column, center, flex-start);
//
//  width: 100%;
//
//  .label {
//    color: #808080FF;
//  }
//
//  .inputWrapper {
//    position: relative;
//    width: 100%;
//    color: #808080FF;
//    fill: #808080FF;
//
//    .btn {
//      @include flex;
//
//      cursor: pointer;
//      background: transparent;
//      border: none;
//      outline: none;
//    }
//
//    .showPasswordButton {
//      position: absolute;
//      top: 6px;
//      right: 6px;
//
//      &:focus-visible {
//        fill: var(--light-color-700);
//      }
//
//      .passwordIcon {
//        transform: scale(0.75);
//      }
//    }
//
//    .closeIconButton {
//      position: absolute;
//      top: 6px;
//      right: 5px;
//
//      .closeIcon {
//        transform: scale(0.75);
//      }
//    }
//
//    &:focus-within .searchIcon,
//    &:focus-within .closeIcon {
//      color: white;
//      fill: white;
//    }
//
//    .disabledIcon {
//      cursor: initial;
//      fill: #4C4C4CFF;
//    }
//
//    .errorMessage {
//      position: absolute;
//      bottom: -18px;
//      left: 0;
//      color: #F23D61FF;
//      font-size: 10px;
//    }
//
//
//    .input {
//      @include flex(row, center, center);
//
//      width: 100%;
//      padding: 0.5rem 0.75rem;
//
//      background: transparent;
//      border: 1px solid black;
//      border-radius: 2px;
//      outline: none;
//
//      transition: all 0.3s ease-in-out;
//
//      &:focus {
//        color: black;
//        border-color: black;
//      }
//
//      &:-webkit-autofill,
//      &:-webkit-autofill:hover,
//      &:-webkit-autofill:focus,
//      &:-webkit-autofill:active {
//        transition: background-color 5000s ease-in-out 0s;
//
//        -webkit-text-fill-color: black !important;
//      }
//
//      &:active:not(:disabled, .error) {
//        color: black;
//        border-color: black;
//      }
//
//      &:hover:not(:disabled, :focus, .error) {
//        background: #d9d9d9;
//        border-color: #9d9d9d;
//      }
//
//      &.password {
//        padding-right: 40px;
//      }
//    }
//
//    &.active {
//      color: black;
//    }
//
//    &.error {
//      color: #F23D61FF;
//      border-color: #F23D61FF;
//    }
//  }
//}
//
//.disabled {
//  color: #4C4C4CFF;
//  border-color: #4C4C4CFF;
//}

@import 'src/app/styles/mixins';

.wrapper {
  width: 100%;

  .label {
    color: #808080FF;
  }

  .inputWrapper {
    position: relative;

    width: 100%;

    color: #808080FF;
    fill: #808080FF;

    .showPasswordButton {
      position: absolute;
      top: 6px;
      right: 6px;

      cursor: pointer;

      border: none;
      outline: none;

      background: transparent;
    }

    //.disabledIcon {
    //  cursor: initial;
    //  fill: var(--dark-color-300);
    //}

    .errorMessage {
      position: absolute;
      bottom: -18px;
      left: 0;
      text-align: left;

      color: var(--danger-color-300);

      font-size: 10px;
    }
  }

  .input {
    width: 100%;
    padding: 0.5rem 0.75rem;

    transition: all 0.3s ease-in-out;

    border: 1px solid black;
    border-radius: 2px;
    outline: none;

    background: transparent;

    &:focus {
      color: black;
      border-color: black;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;

      -webkit-text-fill-color: black !important;
    }

    &:active:not(:disabled, .error) {
      color: black;
      border-color: black;
    }

    &:hover:not(:disabled, :focus, .error) {
      border-color: #d9d9d9;
      background: #d9d9d9;
    }

    &.password {
      padding-right: 40px;
    }

    &.error {
      color: var(--danger-color-300);
      border-color: var(--danger-color-300);

      &:focus {
        outline: 1px solid var(--info-color-500);
      }
    }

    @include flex(row, center, center);
  }

  @include flex(column, center, flex-start);
}

.disabled {
  color: var(--dark-color-300);
  border-color: var(--dark-color-300);
}
