@import 'src/app/styles/mixins';

.button {
  @include flex;

  cursor: pointer;
  user-select: none;
  padding: 6px 28px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: 0.3s;
  background: #5358f7;
  color: white;

  &:hover {
    background: #2b31e7;
  }

  &:active {
    background: #5358f7;
  }

  &:focus-visible {
    outline: 2px solid blue;
  }

  &:disabled {
    cursor: initial;
    opacity: 0.5;
  }
}